<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>GRCP-Web</title>
    </head>
    <body>
        <h1>GRPC-Web</h1>
        <hr />
        <p>
            We will not be covering GRPC-Web in this chapter, as we have already covered that topic with example code in Chapter 9, Enhancing Performance of Networked Applications, in which we looked at GRPC for non-web applications and GRPC-Web for web applications. In this chapter, we also implemented a simple Blazor web application using GRPC-Web so, you can refer to this chapter for GRPC/GRPC-Web.
        </p>
    </body>
</html>