<script type = "text/javascript">  
    function WebSocketExample (){

        var socket = new WebSocket("wss://javascript.info/article/websocket/demo/hello");
    
        var messages = document.getElementById('messages')
        var innerHTML = messages.innerHTML;

        socket.onopen = function(e) {
            innerHTML += '<p>[open] Connection established</p>';
            messages.innerHTML += innerHTML;
            innerHTML += '<p>Sending to server</p>';
            messages.innerHTML += innerHTML;
            socket.send('WebSocket message!');
        };

        socket.onmessage = function(event) {
            innerHTML += `<p>[message] Data received from server: ${event.data}</p>`;
        };

        socket.onclose = function(event) {  
            if (event.wasClean) {
                innerHTML += `<p>[close] Connection closed cleanly, code=${event.code} reason=${event.reason}</p>`;
            messages.innerHTML = innerHTML;
            } else {
                // e.g. server process killed or network down
                // event.code is usually 1006 in this case
                innerHTML += '<p>[close] Connection died</p>';
                messages.innerHTML = innerHTML;
            }
        };

        socket.onerror = function(error) {
            innerHTML += `<p>[error] ${error.message}</p>`;
            messages.innerHTML = innerHTML;
        };
    }
</script> 

<p>Click the following button to see the function in action</p>  

<input type = "button" onclick = "WebSocketExample()" value = "Display">  

<p id="messages" onload="WebSocketExample()"></p>










